<p>Gestion Registro</p>
<div id="datosTabla" style="width: 100%; height: 100px; overflow-y: scroll;">
        <table id="Table" border=1 bordercolor="white" width="100%">
                <thead>
                        <tr>
                                <td>Id Alarmas</td>
                                <td>Alarma</td>
                                <td>Dias Antes</td>
                                <td>Certificado</td>
                                <td>Pago</td>
                        </tr>
                </thead>
                <tbody id="contenido"> {{#each alarmas}} <tr>
                                <td align="center">{{idalarmas}}</td>
                                <td align="center">{{alarmascol}}</td>
                                <td align="center">{{diasantes}}</td>
                                <td align="center">{{certificadofk}}</td>
                                <td align="center">{{pagofk}}</td>
                        </tr> {{/each}} </tbody>
        </table>
</div>
<form> <button type="submit" value="Imprimir" formaction="/alarmas/imprimir_alarmas" formmethod="POST"><img
                        src="https://img.icons8.com/color/50/000000/print.png" /></button>
        <fieldset width="100"> <input type="hidden" id="token" size="500" maxlength="500" name="token"
                        value="{{token}}" />
                <legend>ABM</legend> <input class="btn" type="button" value="Buscar" onclick="select_alarmas()" />
                <input class="btn" type="button" value="Alta" onclick="insertar_alarmas()" /> <input class="btn"
                        type="button" value="Baja" onclick="delete_alarmas()" /> <input class="btn" type="button"
                        value="Modificar" onclick="update_alarmas()" /> <input class="btn" type="button"
                        value="Cancelar" onclick="cancelar()" /> <input class="btn" type="button" value="Volver"
                        onclick="try{javascript:var mywindows = window.opener.document.getElementById('idalarmas').value = window.document.getElementById('idalarmas').value;}catch(error){};window.close()" />
                <br><br><br><br>
                <label for="idalarmas">Id Alarmas</label><input type="number" id="idalarmas" size="30"
                        maxlength="30" name="idalarmas" /><br><br>
                <label for="alarmascol">Alarmas</label><input
                        type="text" id="alarmascol" size="30" maxlength="30" name="alarmascol" /><br><br>
                <label  for="diasAntes">Dias Antes</label><input type="text" id="diasAntes" size="30" maxlength="30"
                        name="diasAntes" /><br><br>
                <label for="CertificadoFK">Certificado</label><input type="text"
                        id="CertificadoFK" size="30" maxlength="30" name="CertificadoFK" /><br><br>
                <label  for="PagoFK">Pago</label><input type="text" id="PagoFK" size="30" maxlength="30"
                        name="PagoFK" /> <br><br> <button type="button" value="Buscar" onclick="select_alarmas()"><img
                                src="https://img.icons8.com/color/48/000000/find-user-male--v1.png" alt="Buscar" />
                </button> <button type="button" value="Alta" onclick="insertar_alarmas()"><img
                                src="https://img.icons8.com/color/50/000000/plus--v1.png" alt="Alta" /></button> <button
                        type="button" value="Baja" onclick="delete_alarmas()"><img
                                src="https://img.icons8.com/nolan/50/delete.png" alt="Baja" /></button> <button
                        type="button" value="Modificar" onclick="update_alarmas()"><img
                                src="https://img.icons8.com/nolan/50/edit--v1.png" alt="Modificar" /></button> <button
                        type="button" value="Cancelar" onclick="cancelar()"><img
                                src="https://img.icons8.com/officexs/50/000000/cancel-2.png" alt="Cancelar" /></button>
                <button type="button" value="Volver"
                        onclick="try{javascript:var mywindows = window.opener.document.getElementById('idalarmas').value = window.document.getElementById('idalarmas').value;}catch(error){};window.close()"><img
                                src="https://img.icons8.com/ios/50/000000/home.png" alt="Volver" /></button>
        </fieldset>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../../public/js/alarmas_v.js"></script>