<script src="../public/js/menu.js"></script>
<header>

	<nav>
		<ul class="nav">
			<li><a href="/"><span class="icon-house"></span>Inicio</a></li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Proyectos<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
					<li><a href="javascript:window.open('./alarmas?token={{token}}')"><span
								class="icon-mail"></span>alarmas</a></li>
					<li><a href="javascript:window.open('./asistencia?token={{token}}')"><span
								class="icon-mail"></span>asistencia</a></li>
					<li><a href="javascript:window.open('./certificados?token={{token}}')"><span
								class="icon-mail"></span>certificados</a></li>
					<li><a href="javascript:window.open('./clases?token={{token}}')"><span
								class="icon-mail"></span>clases</a></li>
					<li><a href="javascript:window.open('./ejerciciointeligente?token={{token}}')"><span
								class="icon-mail"></span>ejerciciointeligente</a></li>
					<li><a href="javascript:window.open('./ejercicios_en_clase?token={{token}}')"><span
								class="icon-mail"></span>ejercicios_en_clase</a></li>
					<li><a href="javascript:window.open('./pagos?token={{token}}')"><span
								class="icon-mail"></span>pagos</a></li>
					<li><a href="javascript:window.open('./usuarios?token={{token}}')"><span
								class="icon-mail"></span>usuarios</a></li>

					<li><a href="consultas?token={{token}}"><span class="icon-mail"></span>Consultas Personalizadas</a>
					</li>
					<li><a href="creartablas?token={{token}}"><span class="icon-earth"></span>Crear Esquema</a></li>
				</ul>
			</li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Clases<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
					<li><a href="javascript:window.open('../public/call/display.html?token={{token}}')"><span
								class="icon-mail"></span>Menu Video Clase Alumno</a></li>
		
					<li><a href="javascript:window.open('../public/call/emit.html?token={{token}}')"><span
								class="icon-mail"></span>Menu Video Clase Profesor</a></li>

				</ul>
			</li>
			<li><a href="http://www.google.com">Salir e Ir a Google<span class="icon-dot"></span></a></li>
		</ul>
	</nav>
</header>
<footer>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Tiene 5 Dias para renovar el PAGO</h1>
<br>
<h1>Tiene 2 Dias para renovar el CERTIFICADO MEDICO</h1>
<br>
Caso contrario no podra ingresar a la clase.

</footer>
