<script src="../public/js/menu.js"></script>
<header>

	<nav>
		<ul class="nav">
			<li><a href="/"><span class="icon-house"></span>Inicio</a></li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Tareas<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
					<li><a href="javascript:var mywindows = window.open('./alarmas?token={{token}}')"><span
								class="icon-mail"></span>Alarmas</a></li>
					<li><a href="javascript:var mywindows = window.open('./asistencia?token={{token}}')"><span
								class="icon-mail"></span>Asistencia</a></li>
					<li><a href="javascript:var mywindows = window.open('./certificados?token={{token}}')"><span
								class="icon-mail"></span>Certificados</a></li>
					<li><a href="javascript:var mywindows = window.open('./clases?token={{token}}')"><span
								class="icon-mail"></span>Clases</a></li>
					<li><a href="javascript:var mywindows = window.open('./ejerciciointeligente?token={{token}}')"><span
								class="icon-mail"></span>Ejercicios Inteligentes</a></li>
					<li><a href="javascript:var mywindows = window.open('./ejercicios_en_clase?token={{token}}')"><span
								class="icon-mail"></span>Ejercicios en Clase</a></li>
					<li><a href="javascript:var mywindows = window.open('./pagos?token={{token}}')"><span
								class="icon-mail"></span>Pagos</a></li>
					<li><a href="javascript:var mywindows = window.open('./usuarios?token={{token}}')"><span
								class="icon-mail"></span>Usuarios</a></li>
				</ul>
			</li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Clases<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
						<li><a href="javascript:var mywindows = window.open('../public/call/display.html?token={{token}}&usuario={{usuario}}')"><span
								class="icon-mail"></span>Acceso para profesor</a></li>			
				</ul>
			</li>
			<li><a href="http://www.google.com">Salir e Ir a Google<span class="icon-dot"></span></a></li>
		</ul>
	</nav>
</header>
<footer>
<br><br><br><br><br>
<h1>Tiene {{pago}} Dias para renovar el PAGO</h1>
<br>
<h1>Tiene {{certificado}} Dias para renovar el CERTIFICADO MEDICO</h1>
<br>
Caso contrario no podra ingresar a la clase.
<br>
<div style="text-align: center">
Access Code<h1 style="font-family: 'ccode39'; ">{{usuario}}</h1>
</div>
</footer>