<script src="../public/js/menu.js"></script>
<header>
	<nav>
		<ul class="nav">
			<li><a href="/"><span class="icon-house"></span>Inicio</a></li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Tareas<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
				
				</ul>
			</li>
			<li class="submenu">
				<a href="#"><span class="icon-rocket"></span>Clases<span class="caret icon-arrow-down6"></span></a>
				<ul class="children">
					<li><a href="javascript:var mywindows = window.open('../public/call/emit.html?token={{token}}&usuario={{usuario}}')"><span
								class="icon-mail"></span>Acceso para alumno</a></li>
		
				</ul>
			</li>
			<li><a href="http://www.google.com">Salir e Ir a Google<span class="icon-dot"></span></a></li>
		</ul>
	</nav>
</header>
<footer>
<br><br><br><br><br>
<h1>Tiene {{pago}} Dias para renovar el PAGO</h1>
<br>
<h1>Tiene {{certificado}} Dias para renovar el CERTIFICADO MEDICO</h1>
<br>
Caso contrario no podra ingresar a la clase.
<br>
<div style="text-align: center">
Access Code<h1 style="font-family: 'ccode39'; ">{{usuario}}</h1>
</div>
</footer>